<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Neues Backup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment mode="ios" (ionChange)="segmentChanged($event)" value="general">
    <ion-segment-button mode="ios" value="general">
      <ion-label>Allgemein</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="interval">
      <ion-label>Interval</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="lockedOut">
      <ion-label>Ausschluss</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="mode == 'general'" class="ion-margin-top">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Backupname</ion-label>
          <ion-input [(ngModel)]="backup.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Quelle</ion-label>
          <ion-input [(ngModel)]="backup.source"></ion-input>
          <ion-button slot="end" size="small" (click)="getSourcePath()"
            >Auswählen</ion-button
          >
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sicherungspfad</ion-label>
          <ion-input [(ngModel)]="backup.dest"></ion-input>
          <ion-button slot="end" size="small" (click)="getDestPath()"
            >Auswählen</ion-button
          >
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Synchronisieren</h2>
            <p>
              Dateien werden immer in das gleiche Ziel-Verzeichnis gesichert
            </p>
          </ion-label>
          <ion-toggle [(ngModel)]="backup.sync"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Überschreiben</h2>
            <p>Dateien beim Synchronisieren überschreiben</p>
          </ion-label>
          <ion-toggle [(ngModel)]="backup.overwrite"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Zip</h2>
            <p>
              Dateien in eine ZIP Datei komprimieren. Backup deutlich kleiner.
            </p>
          </ion-label>
          <ion-toggle [(ngModel)]="backup.zip"></ion-toggle>
        </ion-item>
      </ion-list>

      <!--TODO On close only minimize-->
    </ion-card>
  </div>
  <div *ngIf="mode == 'interval'" class="ion-margin-top">
    <ion-card class="ion-padding">
      <ion-button (click)="backup.cronExpression = '* * * * *'"
        >Jede Minute</ion-button
      >
      <ion-button (click)="backup.cronExpression = '0 * * * *'"
        >Jede Stunde</ion-button
      >
      <ion-button (click)="backup.cronExpression = '0 */2 * * *'"
        >Jede zweite Stunde</ion-button
      >
      <ion-button (click)="backup.cronExpression = '0 0 * * *'"
        >Jeden Tag</ion-button
      >
      <ion-button (click)="backup.cronExpression = '0 0 * * 0'"
        >Jede Woche</ion-button
      >
      <ion-button (click)="backup.cronExpression = '0 0 1 * *'"
        >Jeden Monat</ion-button
      >

      <ion-item class="ion-margin-top">
        <ion-label>Cron</ion-label>
        <ion-input [(ngModel)]="backup.cronExpression"></ion-input>
      </ion-item>
      <!--<cron-editor
        [(cron)]="backup.cronExpression"
        [options]="cronOptions"
      ></cron-editor>-->
    </ion-card>
  </div>
  <div *ngIf="mode == 'lockedOut'" class="ion-margin-top">
    <div class="ion-text-wrap alert alert-info">
      Alle Textdateien werden ausgeschlossen<br />
      <ion-badge slot="end"> *.txt </ion-badge>
    </div>
    <div class="ion-text-wrap alert alert-info">
      "program" exe wird im Ordner "subfolder" ausgeschlossen<br />
      <ion-badge slot="end"> subfolder/program.exe </ion-badge>
    </div>

    <ion-card
      class="ion-margin-top"
      *ngFor="let lockedOut of backup.lockedOutFiles"
    >
      <ion-item>
        <ion-input [(ngModel)]="lockedOut.value"></ion-input>
        <ion-button slot="end" (click)="delete(lockedOut)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

    <ion-button (click)="addLockedOutFileEntry()"> Neuer Auschluss </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" (click)="createBackup()">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
