::ng-deep .cron-editor-main {
  padding: 10px 20px 80px;

  .card-header {
    li {
      display: inline-block;

      .nav-link {
        padding: 10px 15px;
        background: #eee;
        border-radius: 5px;
        margin: 0 10px;

        &.active {
          background: #ddd;
        }
      }
    }
  }
}

.alert {
  ion-badge {
    margin-top: 5px;
  }
}

ion-list {
  h2 {
    // font-weight: bold;
  }
}
