<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Backup & Restore </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment mode="ios" (ionChange)="segmentChanged($event)" value="tasks">
    <ion-segment-button mode="ios" value="tasks">
      <ion-label>Tasks</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="history">
      <ion-label>Verlauf</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="mode == 'tasks'" class="ion-margin-top">
    <div
      class="alert alert-info ion-margin-top"
      *ngIf="backupService.backupTasks.length == 0"
    >
      Keine Backup Aufgaben vorhanden
    </div>

    <ion-card *ngFor="let task of backupService.backupTasks">
      <ion-card-header>
        <strong>{{task.name}}</strong>
      </ion-card-header>
      <ion-card-content>
        <p>
          <strong>Quelle:</strong> {{task.source}}<br />
          <strong>Ziel:</strong> {{task.dest}}
        </p>
        <ion-badge> {{task.cronExpression}} </ion-badge>
      </ion-card-content>

      <ion-item>
        <ion-button color="secondary" (click)="save(task)">
          Jetzt ausführen
        </ion-button>
        <ion-button color="primary" (click)="change(task)"> Ändern </ion-button>
        <ion-button color="danger" (click)="delete(task)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <!--<div class="progress ion-padding" style="background: #f7f7f7;">
        {{task.progress?.completedFiles}} von {{task.progress.totalFiles}} Dateien <br>
        {{task.progress?.percent | percent}} Abgeschlossen
        <ion-progress-bar class="ion-margin-top" [value]="task.progress?.percent" [buffer]="0.1"></ion-progress-bar>
      </div>-->
    </ion-card>
  </div>

  <div *ngIf="mode == 'history'" class="ion-margin-top">
    <ion-list>
      <ion-item *ngFor="let history of backupService.history">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{history.date | date:'short'}}</h3>
          </ion-text>
          <p>{{history.task.name}}</p>

          <p>{{history.task.source}}</p>

          <p>{{history.task.dest}}</p>

          <p>{{history.task.totalFiles}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="newBackupTask()" fill="outline"
        >Neue Backup Aufgabe</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
