<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Dashboard </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadScripts()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-list>
      <ion-item *ngFor="let script of scripts">
        <ion-label>{{ script.name_de }}</ion-label>
        <ion-spinner *ngIf="script.loading"></ion-spinner>

        <ion-icon slot="end" *ngIf="script.isDone" name="checkmark-outline"></ion-icon>
        <ion-checkbox *ngIf="!script.loading" slot="end" [(ngModel)]="script.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="start()">Starten</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
