:host {
  height: 100%;

  ion-content {
    //--background: url(https://images.pexels.com/photos/772803/pexels-photo-772803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    background-size: cover;
  }

  ion-button {
    height: 100px;
    width: 100%;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.module {
  //margin: 30px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  ion-icon {
    font-size: 84px;
    opacity: 0.9;
  }

  h2 {
    font-weight: bold;
    text-align: left;

    margin-bottom: 0;
  }
  p {
    font-weight: lighter;
    text-align: left;
    color: #383a3e;

    margin-top: 0;
  }

  &.blue {
    background: rgba(0, 125, 251, 0.1);

    ion-icon,
    h2 {
      color: #007dfb;
    }
  }

  &.red {
    background: rgba(255, 0, 0, 0.1);

    ion-icon,
    h2 {
      color: #fd6e6e;
    }
  }
}
