:host {
  height: 100%;
  ion-content {
    height: calc(100% - 143px);
  }
}

.center {
  margin: 50px 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rotating {
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
