<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inventarisierung
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="refreshPCInfo()">
        <ion-icon
          [name]="loading ? 'sync' : 'refresh'"
          [class.rotating]="loading"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> </ion-card-subtitle>
      <ion-card-title>
        Allgemein
      </ion-card-title>
    </ion-card-header>

    <ion-list lines="full">
      <ion-item *ngFor="let data of computerData">
        <ion-label>
          {{ data.displayValue }}
        </ion-label>
        <ion-badge slot="end">
          {{ client[data.key] }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> </ion-card-subtitle>
      <ion-card-title>
        Harddisk
      </ion-card-title>
    </ion-card-header>

    <p *ngIf="!disk">Festplatte konnte nicht ermittelt werden</p>

    <ion-list lines="full" *ngIf="disk">
      <ion-item>
        <ion-label>
          Größe
        </ion-label>
        <ion-badge slot="end">
          {{ clientService.calcSize(disk.Size) }} GB
        </ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Typ
        </ion-label>
        <ion-badge slot="end">
          {{ disk.MediaType }}
        </ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Zustand
        </ion-label>
        <ion-badge slot="end">
          {{ disk.HealthStatus }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> </ion-card-subtitle>
      <ion-card-title>
        Netzwerk
      </ion-card-title>
    </ion-card-header>

    <ion-list lines="full">
      <div *ngFor="let network of networkAdapter">
        <ion-item *ngIf="network.mac">
          <ion-label>
            {{ network.name }}
            <p>{{ network.interfaceDescription }}</p>
          </ion-label>
          <ion-badge slot="end">
            {{ network.mac }}
          </ion-badge>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        color="primary"
        [disabled]="loading"
        fill="solid"
        (click)="sendToIDoIt()"
        >Zu iDoIt übertragen</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
